#produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 2em;
}

.card-img, .card-img-top{
    border-radius: 0;
}

.card{
   margin: 1em;
   text-align: center;
   border-radius: 0;
   --bs-card-border-color:none;
}

.modal-footer {
    justify-content: flex-start;
} 

#compras{
    display: flex;
    flex-wrap: wrap;

}

.card_Carrinho{
    margin: 1em;
}
